@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {  
   
        --font-raleway: "Raleway", sans-serif;
        --color-*: initial;
        --text: #ffffff;
        --bg: #3F1653;
        --primary: #fab20a;
        --secondary: #7817A8;
        --accent: #EF567C;
        --textcontrast: #64d97b;
        --bgcontrast: #64d97b;
        --primarycontrast: #64d97b;
        --secondarycontrast: #64d97b;
        --accentcontrast: #ffdd00;
        --text5: hsl(0, 0%, 100%, 5%);
        --text10: hsl(0, 0%, 100%, 10%);
        --text15: hsl(0, 0%, 100%, 15%);
        --text20: hsl(0, 0%, 100%, 20%);
        --text25: hsl(0, 0%, 100%, 25%);
        --text30: hsl(0, 0%, 100%, 30%);
        --text35: hsl(0, 0%, 100%, 35%);
        --text40: hsl(0, 0%, 100%, 40%);
        --text45: hsl(0, 0%, 100%, 45%);
        --text50: hsl(0, 0%, 100%, 50%);
        --text55: hsl(0, 0%, 100%, 55%);
        --text60: hsl(0, 0%, 100%, 60%);
        --text65: hsl(0, 0%, 100%, 65%);
        --text70: hsl(0, 0%, 100%, 70%);
        --text75: hsl(0, 0%, 100%, 75%);
        --text80: hsl(0, 0%, 100%, 80%);
        --text85: hsl(0, 0%, 100%, 85%);
        --text90: hsl(0, 0%, 100%, 90%);
        --text95: hsl(0, 0%, 100%, 95%);
        --primary5: hsl(42, 96%, 51%, 5%);
        --primary10: hsl(42, 96%, 51%, 10%);
        --primary15: hsl(42, 96%, 51%, 15%);
        --primary20: hsl(42, 96%, 51%, 20%);
        --primary25: hsl(42, 96%, 51%, 25%);
        --primary30: hsl(42, 96%, 51%, 30%);
        --primary35: hsl(42, 96%, 51%, 35%);
        --primary40: hsl(42, 96%, 51%, 40%);
        --primary45: hsl(42, 96%, 51%, 45%);
        --primary50: hsl(42, 96%, 51%, 50%);
        --primary55: hsl(42, 96%, 51%, 55%);
        --primary60: hsl(42, 96%, 51%, 60%);
        --primary65: hsl(42, 96%, 51%, 65%);
        --primary70: hsl(42, 96%, 51%, 70%);
        --primary75: hsl(42, 96%, 51%, 75%);
        --primary80: hsl(42, 96%, 51%, 80%);
        --primary85: hsl(42, 96%, 51%, 85%);
        --primary90: hsl(42, 96%, 51%, 90%);
        --primary95: hsl(42, 96%, 51%, 95%);
        --secondary5: hsl(280, 76%, 37%, 5%);
        --secondary10: hsl(280, 76%, 37%, 10%);
        --secondary15: hsl(280, 76%, 37%, 15%);
        --secondary20: hsl(280, 76%, 37%, 20%);
        --secondary25: hsl(280, 76%, 37%, 25%);
        --secondary30: hsl(280, 76%, 37%, 30%);
        --secondary35: hsl(280, 76%, 37%, 35%);
        --secondary40: hsl(280, 76%, 37%, 40%);
        --secondary45: hsl(280, 76%, 37%, 45%);
        --secondary50: hsl(280, 76%, 37%, 50%);
        --secondary55: hsl(280, 76%, 37%, 55%);
        --secondary60: hsl(280, 76%, 37%, 60%);
        --secondary65: hsl(280, 76%, 37%, 65%);
        --secondary70: hsl(280, 76%, 37%, 70%);
        --secondary75: hsl(280, 76%, 37%, 75%);
        --secondary80: hsl(280, 76%, 37%, 80%);
        --secondary85: hsl(280, 76%, 37%, 85%);
        --secondary90: hsl(280, 76%, 37%, 90%);
        --secondary95: hsl(280, 76%, 37%, 95%);
        --accent5: hsl(345, 83%, 64%, 5%);
        --accent10: hsl(345, 83%, 64%, 10%);
        --accent15: hsl(345, 83%, 64%, 15%);
        --accent20: hsl(345, 83%, 64%, 20%);
        --accent25: hsl(345, 83%, 64%, 25%);
        --accent30: hsl(345, 83%, 64%, 30%);
        --accent35: hsl(345, 83%, 64%, 35%);
        --accent40: hsl(345, 83%, 64%, 40%);
        --accent45: hsl(345, 83%, 64%, 45%);
        --accent50: hsl(345, 83%, 64%, 50%);
        --accent55: hsl(345, 83%, 64%, 55%);
        --accent60: hsl(345, 83%, 64%, 60%);
        --accent65: hsl(345, 83%, 64%, 65%);
        --accent70: hsl(345, 83%, 64%, 70%);
        --accent75: hsl(345, 83%, 64%, 75%);
        --accent80: hsl(345, 83%, 64%, 80%);
        --accent85: hsl(345, 83%, 64%, 85%);
        --accent90: hsl(345, 83%, 64%, 90%);
        --accent95: hsl(345, 83%, 64%, 95%);
        --color-border: rgba(214, 196, 255, 0.3);
        --color-shadow: rgba(0, 0, 0, 0.2);
        --color-shadow-strong: rgba(0, 0, 0, 0.3);
        --max-width: 1400px;
        --line-height: 1.6;
        --container-padding: 20px;
        --section-padding: 0  0 100px 0  ;
        --border-radius-sm: 10px;
        --border-radius-md: 20px;
        --border-radius-lg: 25px;
        --border-radius-full: 10px;
        --btn-padding: 10px 24px;
        --btn-large-padding: 16px 32px;
        --btn-font-size: 16px;
        --btn-large-font-size: 18px;
        --transition: all 0.3s ease;
        --animation-speed: 0.3s; 
        --breakpoint-fullHD: 115rem; 
}

@layer components {
  .nav-link::after {
    @apply absolute bottom-[-5px] left-0 h-0.5 w-0 bg-[var(--primary)] transition-[width] duration-[var(--animation-speed)] content-[''];
  }
  .nav-link:hover::after {
        @apply w-[100%];
    }
  
  .hamburger.active span:nth-child(1) {
    @apply rotate-45 translate-[2px] translate-y-[7px];
  }

  .hamburger.active span:nth-child(2) {
    @apply -rotate-45 translate-[2px] -translate-y-[7px];  
  }
  .btn{
    @apply    px-5
              fullHD:px-8
              py-6
              h-[52px]
              fullHD:h-[62px]
              rounded-[var(--border-radius-full)]
              font-semibold
              cursor-pointer
              no-underline
              flex
              items-center
              text-center
              justify-center
              gap-2
              text-lg
              fullHD:text-xl
              border-none
              transition-all
              duration-300
              ease-linear

  }

  /* Показываем описание на активной карточке */
.team-card.active .team-info {
  @apply transform translate-y-0 opacity-100;
}

}

@layer utilities {
  .animate-fade-in-up-delayed {
    animation: fadeInUp 1s ease 0.4s both;
  }
  .animate-gradient-slide{
    animation: gradient-slide 3s ease infinite alternate;
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient-slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}